#image{
  width:100% ;  
  height: 500px; ;
}
#myCampus1{
width: 70% ;
height: 400px ;

}

#myCampus2{
  width: 68% ;
  height: 370px ;
}
#myCampus3{
  width: 70% ;
  height: 400px ;
  }

  #myCampus4{
    width: 65% ;
    height: 370px ;
    }

.travel_mainDiv{
border: 1px solid lightgrey;
}

.travel_mainDiv img{
width:100%;
}

.travel_mainDiv h5, .travel_mainDiv p{
margin:20px;
}
